/*Основное*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0px;
  padding: 0px;
}

/*        Intro (вступ) "Перша сторінка"*/
.intro {
  width: 100%; /* Блок на всю ширину екрана*/
  height: max-content;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("../img/background_img.jpg") center no-repeat;
  background-size: cover; /*Именно с cover блок станет по центру и займет 
   всю площадь екрана*/
}

/*Header (фиксированый блок) (Навигация)*/
.header {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 4px #3f3e3e;
  height: 72px;
}

nav {
  max-width: 1000px;
  min-width: 500px;
  margin: auto;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  margin: 18px auto;

  display: flex; /*Ставим все елементи в ряд */
  justify-content: space-between; /*По бокам*/
}

nav a {
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: #ca1717;
}

.link {
  display: inline-block;
  margin: 0 6px;
  font-size: 16px;
  font-weight: 400px;
}

/*Content*/

.content {
  width: 100%; /*В блоке контент растягиваеться на всю ширину*/
  margin: auto;
  max-width: 800px;
  padding-top: 230px;
  padding-bottom: 230px;
}
h1.capter_1 {
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 70px;
  color: white;
  text-transform: uppercase;
}
.capter_1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f4623a;
  margin: 25px auto;
}
p.data {
  margin: auto;
  text-align: center;
  max-width: 700px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Merriweather", serif;
  font-weight: 400px;
  font-size: 18px;
}
.btn,
.btn_2 {
  text-align: center;
  color: white;
  display: block;
  text-decoration: none;
  padding: 15px;
  content: "";
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  background-color: #f4623a;
  height: 60px;
  width: 190px;
  margin: 20px auto;
  border-radius: 60px;
}
.btn_2 {
  background-color: white;
  color: black;
  opacity: 0.9;
}
.btn_2:hover {
  background-color: #ca9588;
}
a.btn:hover {
  background-color: #e04822;
}

/*Content_2*/

.content_2 {
  width: 100%;
  background-color: #f4623a;
}
.chapter_3 {
  display: block;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  margin: 0 auto;
  text-align: center;
  max-width: 720px;

  padding-top: 120px;
}
.chapter_3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 25px auto;
}
.data_2 {
  max-width: 720px;

  margin: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Merriweather", serif;
}
.content_2_btn_block {
  padding-bottom: 100px;
}

/*content_3*/

.content_3 {
  background-color: white;
  max-width: 1500px;
  margin: auto;
}
.chapter_4 {
  max-width: 375px;
  margin: auto;
}
.content_3 h1 {
  text-transform: capitalize;
  font-family: "Merriweather Sans", sans-serif;
  color: black;
  font-weight: normal;
  text-align: center;
  padding-top: 50px;
}
.chapter_4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #f4623a;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.service {
  display: block;
  margin: 0px 240px;
}
.service_item {
  display: inline-block;
  width: 230px;
  margin: 0px 10px;
  text-align: center;
  color: #6c757d;
}
.service_item img {
  margin-left: 20px;
  width: auto;
}
.service_hapter {
  font-size: 25px;
  font-weight: 500;
  color: black;
  font-family: "Merriweather", serif;
}
.serv_2 {
  margin-top: 30px;
}
.serv_3 {
  margin-top: 30px;
}
.serv_4 {
  margin-top: 34px;
}

/*Content 4*/
.content_4 {
  max-width: 1800px;
  margin: 50px auto;
  
}
.img_content {
  display: flex;
}
.img_content a:hover{
  display: block;
  background: linear-gradient(
    to bottom,
    rgba(92, 77, 66, 0.8) 0,
    rgba(92, 77, 66, 0.8) 100%
  ),} 
.img_content_2 {
  display: flex;
  margin-top: -7px;
  margin-right: 500px;
  margin-bottom: -70px;

}
.img_block img {
  height: 284px;
}



     /*Content_5*/
.content_5 {
  background-color: #343a40;
  width: 1500;
  margin-top: -57px;
  padding-top: 50px;

}
.chapter_5 {
  max-width: 445px;
  margin:  auto;
padding-top: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: white;

}

.btn_in_content_5{
  background-color: white;
  width: 150px;
  height: 40px;
  margin: 20px auto;
  border-radius: 50px;
  text-align: center;
}
.btn_in_content_5 h5{
  font-family: 'Merriweather Sans', sans-serif;
  color:black;
  padding-top: 10px;
}
.content_5 a{
 cursor: pointer;
}





                 /*Content 6 */
.content_6{
  width: 100%;
}
.chapter_6{
  margin: auto;
}

.chapter_6{
  display: block;
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(17, 16, 16);
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  
  padding-top: 120px;}

  .chapter_6::after{
    content: "";
    display: block;
    height: 3px;
    width: 70px;
    background-color:#f4623a; ;
    margin: auto;
    margin-top: 20px;
  }

.content_6_some_data{
  max-width: 720px;

  margin: 25px auto;
  text-align: center;
  color: #3f3e3e;
  font-family: "Merriweather", serif;
}

.last_block_item{
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.last_item p{
  color: #333333;
  text-align: center;
}
.last_item img{
  margin-left: 30px;
}

.last_2_item img{
  margin-left: 45px;

}

.last_2_item a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.mini_footer{
  max-width: 250px;
  margin: 200px auto 100px auto;
  color: #504f4f;
}


